.placeholder {
    Background-color: rgb(200,200,255);
    border: 2px solid rgb(50, 50, 100);
}

.post.first {
      /* blah */
    color: blue;
}

.first {
        color:red;
}


body > div {
    background-color: pink;
    margin: 5pc;
    border: 1px dotted red;
}

.placeholder {
  background-color: rgb(200,200,255);
  border: 2px solid rgb(50,50,100);
}

section {
  border: 1 px dotted rgb(35,95,163);
  text-align:center;
}

section  h2 {
  font-size: 12pt;
  text-transform: uppercase;
  color: #999;
}

section .ban{
  font-size: 26pt;
  color: rgb(35,95,163);
  text-transform: capitalize;
  font-weight:bold;
}
